{% load static %}
{% block latest_tvshows %}
<!-- =============== START OF LATEST TV SHOW SECTION =============== -->
<section class="latest-tvshows ptb100">
    <div class="container">

        <!-- Start of row -->
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h2 class="title">Top Box</h2>
            </div>


            <div class="col-md-4 col-sm-12 align-self-center text-right">
                <a href="{% url 'movies:month_top_movies' %}" class="btn btn-icon btn-main btn-effect">
                    view all
                    <i class="ti-angle-double-right"></i>
                </a>
            </div>
        </div>
        <!-- End of row -->


        <!-- Start of Latest Movies Slider -->
        <div class="owl-carousel latest-tvshows-slider mt20">
            
            {% for movie in popular_movies %}
                
            
                
            <!-- === Start of Sliding Item 1 === -->
            <div class="item">
                <!-- Start of Movie Box -->
                <div class="movie-box-1">

                    <!-- Start of Poster -->
                        {% if movie.image %}
                            <img src="{{ movie.image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'assets/images/posters/no_image.jpg' %}" alt="">
                        {% endif %}
                    <!-- End of Poster -->

                    <!-- Start of Buttons -->
                    
                    <!-- End of Buttons -->

                    <!-- Start of Movie Details -->
                    <div class="movie-details">
                        <h4 class="movie-title">
                            <a href="{% url 'movies:movie_detail' movie.pk %}">{{ movie.title }}</a>
                        </h4>
                        <span class="released">{{ movie.release_date|date:"j M Y" }}</span>
                    </div>
                    <!-- End of Movie Details -->

                    <!-- Start of Rating -->
                    <div class="stars">
                        {% if movie.vote_average != 0 %}
                            {% if movie.vote_average <= 2  %}
                                
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            {% endif %}
                            {% if movie.vote_average > 2  %}
                                
                                {% if movie.vote_average <= 4 %}
                                    
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if movie.vote_average > 4  %}
                                
                                {% if movie.vote_average <= 6 %}
                                    
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if movie.vote_average > 6  %}
                                
                                {% if movie.vote_average <= 8 %}
                                    
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if movie.vote_average > 8  %}
                                
                                {% if movie.vote_average <= 10 %}
                                    
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <span>{{ movie.vote_average }}/ 10</span>
                        {% else %}
                        <div class="rating">
                            <span>No Rating</span>
                           
                        </div>
                        {% endif %}
                            
                        
                    </div>
                    <!-- End of Rating -->

                </div>
                <!-- End of Movie Box -->
            </div>
            {% endfor %}
            <!-- === End of Sliding Item 1 === -->

        </div>
        <!-- End of Latest Movies Slider -->

    </div>
</section>
<!-- =============== END OF LATEST TV SHOW SECTION =============== -->
{% endblock latest_tvshows %}